body {
    background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t31.18172-8/11194399_426838920820375_2797894250448836369_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=vNaHx9cBu6IAX92qxts&_nc_ht=scontent-iad3-1.xx&oh=ed51d41eae2bb0021ffe2d845bdc6b99&oe=60F3358B");
    background-position: center top;
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 72;
    font-weight: 1; 
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24;
    font-weight: 1;
}
