body {
    background-position: center top;
    background-color: black;
    color: white;
    text-align: center;
    border: 0px;
    margin: 0px;
}
a{
    color:goldenrod;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 72px;
    font-weight: 1; 
    color: white;
}
h1.title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 72px;
    font-weight: 1; 
    color: whitesmoke;
    margin: 0px 0px 20px 0px;
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 1;
}
.about-me {
    margin: 10px;
    width: 100%;
    height: 450px;
}
.about-me h2 {
    height: 10%;
    width: 100%;
    color: rgb(28, 181, 192);
    font-size: 42px;
    font-display: center;
}
.about-me .about-content {
    max-width: 70%;
    height: 90%;
    display: flex;
}
.about-me .about-content img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 350px;
    margin-right: 2rem;
}
.about-me .about-content p {
    display: inline-block;
    margin-left: 2rem;
    font-display: center;
    width: fit-content;
}

.sub-title {
    color: rgb(28, 181, 192);
    font-size: 42px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#top-pic {
    max-width: 100%;
    max-height: 50%;
}
footer {
    font-size: 12px;
    position: relative;
}
.insta-pics {
    width: 100%;
    max-height: 1000px;
    display: flex;
    margin: 1rem;
}
.insta-pics .image-container .instagram-media{
    display: inline-block;
    height: auto;
    width: 32%;
    justify-content: space-between;
    align-items: stretch;
} 

@media screen and (max-width: 480px),(orientation: portrait) {
    .about-pic {
        float: center;
    }
    .instagram-media {
        width: 95%;
    }
}