body {
    background-position: center top;
    background-color: black;
    color: white;
    text-align: center;
}
a{
    color:goldenrod;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 72px;
    font-weight: 1; 
    color: white;
}
h1.title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 72px;
    font-weight: 1; 
    color: whitesmoke;
    margin: 0px 0px 20px 0px;
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 1;
}
.about-me {
    text-align: center;
    margin: 10px;
    overflow: auto;
}
.about-content {
    margin-left: 400px;
}
.about-pic {
    float: left;
}
.about-pic img {
    display: block;
    max-height: 400px;
    max-width: 400px;
}
.about-title {
    color: rgb(28, 181, 192);
    font-size: 42px;
    text-align: center;
    margin-right: 415px;
}
.sub-title {
    color: rgb(28, 181, 192);
    font-size: 42px;
    text-align: center;
}
#top-pic {
    max-width: 100%;
    max-height: 50%;
}
footer {
    font-size: 12px;
    position: relative;
}
.insta-pics {
    opacity: 1;
}
.insta-pic-content {
    display: inline-block;
    padding: 5px;
}